.heading {
	display: inline-block
	margin: 0
	padding: 0

	&.h1 {
		margin-bottom: 1.75rem
		font-weight: 700
		font-size: 2.75rem
		line-height: 1.01
	}

	&.h2 {
		margin-bottom: 1.5rem
		font-weight: 500
		font-size: 1.75rem
		line-height: 1.2
	}

	&.h3 {
		margin-bottom: 1rem
		font-weight: 400
		font-size: 1.375rem
		line-height: 1.375
	}

	&.h4 {
		margin-bottom: .75rem
		font-weight: 400
		font-size: 1.125rem
		line-height: 1.5625
	}

	&.h5 {
		margin-bottom: .5rem
		font-weight: 400
		font-size: 1rem
		line-height: 1.5
	}

	&.h6 {
		margin-bottom: .375rem
		font-weight: 400
		font-size: .875rem
		line-height: 1.25rem
	}
}