@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Medium.eot');
    src: url('Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Medium.woff2') format('woff2'),
        url('Ubuntu-Medium.woff') format('woff'),
        url('Ubuntu-Medium.ttf') format('truetype'),
        url('Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu.eot');
    src: url('Ubuntu.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu.woff2') format('woff2'),
        url('Ubuntu.woff') format('woff'),
        url('Ubuntu.ttf') format('truetype'),
        url('Ubuntu.svg#Ubuntu') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Bold.eot');
    src: url('Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Bold.woff2') format('woff2'),
        url('Ubuntu-Bold.woff') format('woff'),
        url('Ubuntu-Bold.ttf') format('truetype'),
        url('Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

