.root {
	display: inline-flex
	border: 1px solid
	border-color: #DCDCDC
	background-color: #FFFFFF
	font-family: Ubuntu, Arial, Helvetica, sans-serif
	line-height: 1

	.number {
		display: inline-block
	}

	.region {
		display: inline-block
		border-color: inherit
		border-left: 1px solid
	}

	&.invalid {
		padding: .25rem .375rem .125rem .5rem
	}

	&.yellow {
		border-color: #282728
		background-color: #FABC3C

		.region {
			border-color: #282728
		}
	}

	&.size-s {
		border-radius: .125rem
		font-size: 1rem

		.number {
			padding: .25rem .375rem .125rem .5rem
		}

		.region {
			padding: .25rem .375rem .125rem
		}
	}

	&.size-m {
		border-radius: .25rem
		font-size: 1.5rem

		.number {
			padding: .25rem .375rem .125rem .5rem
		}

		.region {
			padding: .25rem .375rem .125rem
		}
	}

	&.size-l {
		border-radius: .25rem
		font-size: 2rem

		.number {
			padding: .375rem .5rem .125rem .75rem
		}

		.region {
			padding: .375rem .5rem .125rem
		}
	}
}