.breadcrumbs {
	display: block
	margin-bottom: .75rem

	.crumb {
		font-size: 1rem
		line-height: 1.5

		a {
			display: inline
			padding-bottom: 2px
			border-bottom: 1px solid rgba(#A1A0A1, .4)
			color: #A1A0A1
			text-decoration: none
			transition: all .2s ease-in-out

			&:hover {
				border-bottom-color: transparent
				color: #282728
			}
		}

		&:after {
			margin: 0 .5rem
			color: #CCCBCC
			content: '/'
		}

		&:last-child {
			&:after {
				margin-right: 0
			}
		}
	}
}