.text {
	display: inline

	&.full_width {
		display block
		width 100%
	}

	&.size_xs {
		font-size: .75rem
		line-height: 1.5
	}

	&.size_s {
		font-size: .875rem
		line-height: 1.5
	}

	&.size_m {
		font-size: 1rem
		line-height: 1.5
	}

	&.size_l {
		font-size: 1.125rem
		line-height: 1.5
	}

	&.size_xl {
		font-size: 1.25rem
		line-height: 1.5
	}

	&.size_xxl {
		font-size: 1.5rem
		line-height: 1.5
	}

	&.size_xxxl {
		font-size: 1.75rem
		line-height: 1.2
	}

	&.size_xxxxl {
		font-size: 2rem
		line-height: 1.2
	}

	&.weight_regular {
		font-weight: 400
	}

	&.weight_medium {
		font-weight: 500
	}

	&.weight_bold {
		font-weight: 700
	}

	&.color_red {
		color: #ED1C28
	}

	&.color_green {
		color: #00C853
	}

	&.color_grey {
		color: #8F8E8F
	}
}