.amount {
	display: inline-flex

	&.theme-light {
		color: #282728

		.fractial, .currency {
			color: #A1A0A1
		}
	}

	&.theme-dark {
		color: #FFFFFF

		.fractial, .currency {
			color: #BAB9BA
		}
	}

	&.size-xs {
		font-size: .75rem
		line-height: 1.5
	}

	&.size-s {
		font-size: .875rem
		line-height: 1.5
	}

	&.size-m {
		font-size: 1rem
		line-height: 1.5
	}

	&.size-l {
		font-size: 1.125rem
		line-height: 1.5
	}

	&.size-xl {
		font-size: 1.25rem
		line-height: 1.5
	}

	&.size-xxl {
		font-size: 1.5rem
		line-height: 1.5
	}

	&.size-xxxl {
		font-size: 1.75rem
		line-height: 1.2
	}

	&.size-xxxxl {
		font-size: 2rem
		line-height: 1.2
	}

	&.weight-regular .integer {
		font-weight: 400
	}

	&.weight-medium .integer {
		font-weight: 500
	}

	&.weight-bold .integer {
		font-weight: 700
	}
}