.root {
	position: relative
	display: inline-flex
	flex-direction: column
	font-family: Ubuntu, Arial, Helvetica, sans-serif

	.input_box {
		display: flex
		border: 1px solid
		transition: all .2s ease-in-out

		input, textarea {
			margin: 0
			padding: 0
			width: 100%
			height: auto
			outline: none
			border: 0
			background-color: transparent
			color: inherit
			text-overflow: ellipsis
			font-size: inherit
			line-height: inherit
		}
	}

	.prefix, .suffix {
		display: flex
		align-items: center

		.clear_wrapper {
			display: block
			width: 24px
			height: 24px
		}
	}

	.clear_button {
		display: block
		margin: 0
		padding: 0
		width: 1.5rem
		height: 1.5rem
		outline: none
		border: 0
		background-color: transparent
		line-height: 0
		cursor: pointer

		.cross_icon path {
			transition: fill .15s ease-in-out
			fill: #CCCBCC
		}

		&:hover:not([disabled]), &:focus:not([disabled]) {
			.cross_icon path {
				fill: #767576
			}
		}
	}

	&.disabled {
		.input_box {
			opacity: .4

			input, textarea {
				cursor: not-allowed
			}
		}

		.clear_button {
			cursor: not-allowed
		}
	}

	&.theme-light {
		.input_box {
			border-color: #CCCBCC
			color: #282728

			::placeholder {
				color: #CCCBCC
			}
		}

		.sub {
			color: #CCCBCC
		}

		&.error {
			.input_box {
				border-color: #ED1C28
			}

			.sub {
				color: #ED1C28
			}
		}

		&.hovered:not(.disabled):not(.error) {
			.input_box {
				border-color: #A1A0A1
			}
		}

		&.focused:not(.disabled):not(.error) {
			.input_box {
				border-color: #BAB9BA
				box-shadow: inset 0 0 0 1px #BAB9BA
			}
		}
	}

	&.size-s {
		.input_box {
			border-radius: .25rem
			font-size: .875rem
			line-height: 1.5rem

			input, textarea {
				padding: .3125rem .75rem
			}

			&.with_prefix {
				input, textarea {
					padding-left: 0
				}
			}

			&.with_suffix {
				input, textarea {
					padding-right: 0
				}
			}

			.prefix {
				padding: .3125rem 0 .3125rem .25rem
			}

			.suffix {
				padding: .3125rem .25rem .3125rem 0
			}
		}

		.sub {
			margin-top: .125rem
			font-size: .75rem
			line-height: 1.5
		}
	}

	&.size-m {
		.input_box {
			border-radius: .25rem
			font-size: 1rem
			line-height: 1.5rem

			input, textarea {
				padding: .5625rem .75rem
			}

			&.with_prefix {
				input, textarea {
					padding-left: 0
				}
			}

			&.with_suffix {
				input, textarea {
					padding-right: 0
				}
			}

			.prefix {
				padding: .5625rem 0 .5625rem .375rem
			}

			.suffix {
				padding: .5625rem .375rem .5625rem 0
			}
		}

		.sub {
			margin-top: .25rem
			font-size: .875rem
			line-height: 1.5
		}
	}

	&.size-l {
		.input_box {
			border-radius: .375rem
			font-size: 1.125rem
			line-height: 1.25rem

			input, textarea{
				padding: 1rem .75rem
			}

			&.with_prefix {
				input, textarea {
					padding-left: 0
				}
			}

			&.with_suffix {
				input, textarea {
					padding-right: 0
				}
			}

			.prefix {
				padding: 1rem 0 1rem .5rem
			}

			.suffix {
				padding: 1rem .5rem 1rem 0
			}
		}

		.sub {
			margin-top: .375rem
			font-size: 1rem
			line-height: 1.5
		}
	}

	&.fullWidth {
		display: flex
		width: 100%
	}
}