.collapse_btn {
	padding: 8px
	outline: none
	cursor: pointer
	user-select: none
	-webkit-tap-highlight-color: transparent

	.btn {
		position: relative
		width: 32px
		height: 32px
		border-radius: 100%
		background-color: #0041FF

		span {
			position: absolute
			display: block
			width: 10px
			height: 2px
			border-radius: 2px
			background-color: #FFFFFF
			transition: all .5s ease-in-out

			&:nth-child(1) {
				top: 15px
				left: 18px
				transform: rotateZ(-135deg)
				transform-origin: 1px 50%
			}

			&:nth-child(2) {
				top: 15px
				left: 18px
				transform: rotateZ(135deg)
				transform-origin: 1px 50%
			}
		}
	}

	&.collapse_btn_active {
		.btn {
			span {
				&:nth-child(1) {
					left: 11px
					transform: rotateZ(-45deg)
				}

				&:nth-child(2) {
					left: 11px
					transform: rotateZ(45deg)
				}
			}
		}
	}
}
