.collapse_btn {
	padding: 8px
	outline: none
	cursor: pointer
	user-select: none
	-webkit-tap-highlight-color: transparent

	.btn {
		position: relative
		width: 32px
		height: 32px
		border-radius: 100%
		background-color: #0041FF

		span {
			position: absolute
			display: block
			width: 12px
			height: 2px
			border-radius: 2px
			background-color: #FFFFFF
			transition: all .3s ease-in-out

			&:nth-child(1) {
				top: 11px
				left: 10px
			}

			&:nth-child(2) {
				top: 15px
				left: 10px
			}

			&:nth-child(3) {
				top: 19px
				left: 10px
			}
		}
	}

	&.collapse_btn_active {
		.btn {
			span {
				&:nth-child(1) {
					transform: translateY(2px)
				}

				&:nth-child(2) {
					transform: scale(0)
				}

				&:nth-child(3) {
					transform: translateY(-2px)
				}
			}
		}
	}
}
