@import './Mixins.styl'
@import './CollapseBtn.module.styl'
@import './NavItem.module.styl'
@import './Section.module.styl'
@import './Dropdown.module.styl'

.layout {
	position: relative
	overflow: hidden
	width: 100%
	height: 100vh
	background-color: #F7F7F7
}

.logo {
	padding: 32px 24px 24px
}

.nav {
	display: flex
	flex-basis: 100%
	flex-direction: column
	padding: 4px 24px 16px
}

.menu {
	position: absolute
	top: 0
	left: 0
	z-index: 1
	display: flex
	flex-direction: column
	overflow-y: auto
	height: 100%
	transition: background-color .15s ease-in-out

	&::-webkit-scrollbar {
		width: 8px
		background: transparent
	}

	&:hover {
		&::-webkit-scrollbar-thumb {
			border-radius: 8px
			background: #bdbdbd
		}
	}

	+desktop() {
		width: 320px

		+collapsed() {
			cursor: pointer

			&:hover {
				background-color: #EEEEEE

				& + .content {
					transform: translateX(28px)

					.collapse_btn .btn {
						transform: rotate(20deg)
					}
				}
			}
		}
	}

	+mobile() {
		width: 256px
	}
}

.content {
	position: absolute
	top: 0
	left: 0
	z-index: 2
	height: 100%
	background-color: #FFFFFF
	transition: transform .3s ease-in-out, width .3s ease-in-out

	+desktop() {
		width: calc(100% - 320px)
		transform: translateX(320px)

		+collapsed() {
			width: calc(100% - 24px)
			transform: translateX(24px)
		}
	}

	+mobile() {
		width: 100%
		transform: translateX(256px)

		+collapsed() {
			width: calc(100% - 24px)
			transform: translateX(24px)
		}
	}
}

.collapse_btn {
	position: absolute
	top: 40px
	left: 0
	z-index: 3
	outline: none
	transition: transform .3s ease-in-out
	transform: translateX(-50%)

	.btn {
		transition: background-color .15s ease-in-out, transform .3s ease-in-out
	}

	&.active {
		transform: translateX(-50%)

		.btn {
			transform: rotate(90deg)
		}
	}

	+desktop() {
		&:hover {
			.btn {
				background-color: darken(#0041FF, 12%)
			}
		}
	}
}