.logo {
	padding: 24px 16px
}

.nav {
	display: flex
	flex-basis: 100%
	flex-direction: column

	.nav_item {
		position: relative
		display: block
		margin-bottom: 4px
		padding: 9px 16px
		outline: none
		border: 1px solid transparent
		border-radius: 4px
		background-color: transparent
		color: #767576
		text-decoration: none
		font-size: 1rem
		line-height: 1.5
		cursor: pointer
		user-select: none
		-webkit-tap-highlight-color: transparent
		-webkit-touch-callout: none

		+desktop() {
			transition: all .2s ease-in-out

			&:hover {
				background-color: #EEEEEE
				color: #282728
			}

			&:focus {
				outline: none
				border-color: #767576
				background-color: #EEEEEE
				box-shadow: inset 0 0 0 1px #767576
				color: #282728
			}
		}

		&:last-child {
			margin-bottom: 0
		}

		&:active, &.active {
			border-color: #003CE8
			background-color: #0041FF
			box-shadow: none
			color: #FFFFFF
		}

		&.exit {
			margin-top: auto
		}
	}
}