.section {
	display: block
	padding: 8px 0

	.title {
		margin-top: 2px
		margin-bottom: 6px
		color: rgba(#282728, .64)
		text-transform: uppercase
		font-weight: 500
		font-size: 11px
		line-height: 1.45
	}

	&.has_separator {
		margin-bottom: 8px
		border-bottom: 1px solid rgba(#282728, .08)
	}
}