.table {
	display: table
	overflow: auto
	width: 100%

	&.striped {
		.row {
			&:nth-child(odd) {
				background-color: #FAFAFA
			}
		}
	}

	&.hoverable {
		.row {
			cursor: pointer
			transition: background-color .2s ease-in-out

			&:hover {
				background-color: #F7F7F7
			}
		}
	}
}

.header {
	display: table-header-group

	&.sticky {
		.col {
			position: sticky
			top: 0
			z-index: 1
			padding: 1rem
			background-color: #FFFFFF
		}
	}
}

.row {
	display: table-row
	width: 100%
}

.col {
	display: table-cell
	padding: 1rem
}