.root {
	display: inline-block
	border: 1px solid #F7F7F7
	background-color: white
	transform: scale(0.5)

	&.size-s {
		border-radius: .25rem
		box-shadow: 0 .5rem 1rem rgba(#282728, .08)
	}

	&.size-m {
		border-radius: .5rem
		box-shadow: 0 .5rem 1rem rgba(#282728, .08)
	}

	&.size-l {
		border-radius: .75rem
		box-shadow: 0 .5rem 1rem rgba(#282728, .08)
	}

	&.size-xl {
		border-radius: .75rem
		box-shadow: 0 2rem 4rem rgba(#282728, .08)
	}
}