.tabs_wrapper {
	display: flex
	flex-direction: column

	.tabs {
		display: flex
		border-bottom: 1px solid #DCDCDC
	}

	.panes {
		display: block
	}

	&.size-s {
		.tabs {
			margin-bottom: 1.25rem
		}
	}

	&.size-m {
		.tabs {
			margin-bottom: 1.5rem
		}
	}

	&.size-l {
		.tabs {
			margin-bottom: 1.75rem
		}
	}
}