.icon_button {
	display: flex
	margin: 0
	padding: 0
	outline: none
	border: 0
	border-radius: 50%
	background-color: transparent
	cursor: pointer
	transition: all .15s ease-in-out
	user-select: none

	&:disabled {
		opacity: .32
		cursor: default
		pointer-events: none
	}

	&.size-s {
		padding: .3125rem
	}

	&.size-m {
		padding: .625rem
	}

	&.size-l {
		padding: 1.0625rem
	}

	&.hoverable {
		&:hover {
			background-color: rgba(#282728, .04)
		}
	}

	&.focusable {
		&:focus {
			background-color: rgba(#282728, .04)
		}
	}
}